<ng-container *ngIf="!OtherVariables.loading">
  <div id="layout" class="wrap-content">
      <header class="header">
          <div class="container">
              <a [routerLink]="['']" title="Logo">
                  <img src="https://lmsvpreservationadmin.myteamconnector.com/assets/images/logo.png" alt=""/>
              </a>
          </div>
      </header> 
    <section id="content" class="main-content">
      <div class="container">
        <div class="reservation-content">
          <div class="main-info" *ngIf="OtherVariables?.bookingDetails?.BookingStatus != 2">
            <h1 class="re-title">
              Successfully Booked!
            </h1>
            <span class="mi-note">You have successfully booked your table at
              {{OtherVariables?.bookingDetails?.OutletName}}</span>
          </div>
          <div class="content-pane reservation-detail">
            <div class="left-pane">
              <div class="main-form reservation-form">
                <div class="re-step step-one">
                  <div class="daily-message" *ngIf="OtherVariables?.bookingDetails?.BookingStatus != 2">
                    <p><i class="fa fa-check" aria-hidden="true" style="margin-right: 5px;color: #1cb54a;font-size: 14px;"></i>Your Reservation has been {{OtherVariables.BookingStatusInArray[OtherVariables?.bookingDetails?.BookingStatus]}}</p>
                  </div>
                  <div class="daily-message error" *ngIf="OtherVariables?.bookingDetails?.BookingStatus == 2">
                      <p><i class="fa fa-times" aria-hidden="true" style="margin-right: 5px;font-size: 14px;"></i>Your Reservation has been {{OtherVariables.BookingStatusInArray[OtherVariables?.bookingDetails?.BookingStatus]}}</p>
                    </div>
                  <div class="step-top">
                    <p>Hello {{OtherVariables?.bookingDetails?.FirstName}} {{OtherVariables?.bookingDetails?.LastName}}
                    </p>
                    <br>
                    <p>Confirmation email with all the details has been sent to {{OtherVariables?.bookingDetails?.Email}}
                    </p>
                    <p>If you are not received your confirmation email, please check your junk email folder or check
                      your email address</p>
                    <p>Enjoy your meal! </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="right-pane">
              <div class="re-step step-special">
                <div class="restaurantDetail">
                  <div class="reservation-overview">
                    <div class="re-maininfo">
                      <h1>Details</h1>
                      <h3>Your Reservation Details</h3>
                      <p>{{OtherVariables?.bookingDetails?.ReservationDate}}</p>
                      <p>{{OtherVariables?.bookingDetails?.ReservationTime}}</p>
                      <p>{{OtherVariables?.bookingDetails?.Title}} {{OtherVariables?.bookingDetails?.FirstName}}
                        {{OtherVariables?.bookingDetails?.LastName}}</p>
                      <p>{{OtherVariables?.bookingDetails?.HeadCount}} Heads</p>
                      <h3>Restaurant Details</h3>
                      <p>{{OtherVariables?.bookingDetails?.OutletName}}</p>
                      <p>{{OtherVariables?.bookingDetails?.Address}}</p>
                      <p><a target="_blank" href="{{OtherVariables.mapAddr}}">Map</a></p>
                      <p>{{OtherVariables?.bookingDetails?.OutletPhoneNumber}}</p>
                    </div>
                    <div class="re-detailinfo">
                      <div class="re-description">
                        <div class="fullDescription">
                        </div>
                      </div>
                      <p class="readMore re-view" style="display: none;"><a href="javascript:void(0);">Read More</a></p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <span class="ver-line"></span>
          </div>
          <div class="btn-action res-bottom">
            <div class="f-btn" *ngIf="OtherVariables?.bookingDetails?.BookingStatus != 2">
              <button type="submit" class="btn main-btn" (click)="gotoedit()">
                Edit Reservation
              </button>
              <button type="submit" class="btn main-btn" (click)="cancelBooking(OtherVariables.bookingDetails)">
                Cancel Reservation
              </button>
            </div>
            <p class="agreeing res-termuse">By clicking this button, you are agreeing to all <a
                href="javascript:void(0)" target="_blank" title="terms of use">terms of use</a>.
            </p>
          </div>
          <p class="gaUnchecked"> </p>
        </div>
      </div>
    </section>
    <div id="footer" class="footer">
        <p>© 2019, DTS. All Rights Reserved.</p>
        <ul class="fLink list-links">
          <li><a href="javascript:void(0)" title="Terms of Use" rel="nofollow">Terms of
              Use</a></li>
          <li class="last"><a href="javascript:void(0)" title="Privacy Policy" rel="nofollow">Privacy Policy</a></li>
        </ul>
      </div>
  </div>
</ng-container>
<ng-container *ngIf="OtherVariables.loading">
  <div style="text-align: center;font-size: 30px;margin-top: 30px;">
    <i class="fa fa-spinner fa-spin" aria-hidden="true"></i>
  </div>
</ng-container>

