<ng-container *ngIf="!OtherVariables.loading">
  <div id="layout" class="wrap-content">
    <header class="header">
      <div class="container">
        <a [routerLink]="['']" title="Logo">
          <img src="https://lmsvpreservationadmin.myteamconnector.com/assets/images/logo.png" alt="" />
        </a>
      </div>
    </header>

    <section id="content" class="main-content">
      <div class="container" *ngIf="OtherVariables.isOutletOpen">
        <form [formGroup]="bookingForm" name="bookingForm" (submit)="bookReservation(bookingForm)">
          <div class="reservation-content">
            <div class="main-info">
              <h1 class="re-title">
                Book a Table at {{outletDetails?.OutletName}}
              </h1>
              <span class="mi-note">Reserve now and get instant confirmation.</span>
            </div>
            <div class="content-pane reservation-detail">
              <div class="right-pane">
                <div class="re-step step-special collapse-wrap">
                  <div class="reservation-collapse">
                    <a (click)="restaurantCollapse=!restaurantCollapse" href="javascript:void(0);"
                      [ngClass]="['restaurantCollapse', restaurantCollapse ? 'open' : '']">Restaurant Details</a>
                  </div>
                  <div class="restaurant-detail restaurantDetail"
                    [ngStyle]="{'display': restaurantCollapse ?'block' : 'none' }">
                    <div class="reservation-overview">
                      <!-- <figure class="img-view">
                                              <img src="https://tabledb.s3.amazonaws.com/hgwlandingpage/rest/thumb_5952ff86e4b0a4a1d6216dd1.jpg"
                                                  alt="Stickies Bar (Sunset Lane)">
                                              </figure> -->

                      <div class="re-maininfo">
                        <dl>
                          <dt>Name</dt>
                          <dd>
                            {{outletDetails?.OutletName}}
                          </dd>
                        </dl>
                        <dl>
                          <dt>Phone Number</dt>
                          <dd>
                            {{outletDetails?.PhoneNumber}}
                          </dd>
                        </dl>
                        <dl>
                          <dt>Address</dt>
                          <dd>
                            {{outletDetails?.Address}}, {{outletDetails?.City}}, {{outletDetails?.State}},
                            {{outletDetails?.Country}}
                          </dd>
                        </dl>
                        <!-- <dl>
                                                  <dt>Cuisine</dt>
                                                  <dd>
                                                  Beer,
                                                  Western,
                                                  Drinks
                                                  </dd>
                                              </dl> -->
                      </div>
                      <div class="re-detailinfo">
                        <div class="re-description">
                          <div class="fullDescription">
                            <!-- Description Here -->
                          </div>
                        </div>
                        <p class="readMore re-view" style="display: none;"><a href="javascript:void(0);">Read More</a>
                        </p>
                      </div>
                    </div><!--  .overview-->
                    <!-- other chefs-->
                  </div>
                </div>
              </div>

              <div class="left-pane">
                <div class="main-form reservation-form">
                  <div class="re-step step-one">
                    <div class="step-top">
                      <h3 class="step-title">Booking Details
                      </h3>
                    </div>
                    <div class="step-detail" id="firstStepDetail">
                      <div class="f-row">
                        <label class="f-label">Date<span class="f-required">*</span></label>
                        <!-- <input #datePick type="date" class="input-full f-text" formControlName="ReservationDate"
                          (change)="getAvailability();getTimeFrame()"> -->
                          <input [min]="staticDate" (dateTimeChange)="formatDateForPick()" placeholder="Enter Booking Date" formControlName="ReservationDate" class="input-name f-text" [owlDateTimeTrigger]="dt1" [owlDateTime]="dt1">
                          <owl-date-time [pickerMode]="'dialog'" [pickerType]="'calendar'" #dt1></owl-date-time>

                        <div
                          *ngIf="(bookingForm.controls.ReservationDate.touched && !bookingForm.controls.ReservationDate.valid) || (submitted && !bookingForm.controls.ReservationDate.value)"
                          class="daily-message error">
                          <p>Please choose a Booking Date!</p>
                        </div>
                        <div id="no-available-time-slot" class="daily-messageN"
                          *ngIf="OtherVariables.headerText.length>0">
                          <div id="restaurant-message" class="dm-content">
                            <p [innerHtml]="OtherVariables.headerText"></p>
                          </div>
                        </div>
                      </div>

                      <div class="f-row">
                        <label class="f-label">Number of Diner(s)<span class="f-required">*</span></label>
                        <div class="multi-items two-items item-person">
                          <div class="mi-w">
                            <select formControlName="HeadCount" (change)="getAvailability()">
                              <option value=''>Select Head</option>
                              <option value="1">1 </option>
                              <option value="2">2 </option>
                              <option value="3">3 </option>
                              <option value="4">4 </option>
                              <option value="5">5 </option>
                              <option value="6">6 </option>
                              <option value="7">7 </option>
                              <option value="8">8 </option>
                              <option value="9">9 </option>
                              <option value="10">10 </option>
                              <option value="11">11 </option>
                              <option value="12">12 </option>
                            </select>
                            <span class="arrow">
                              <i class="icon-arrow-down"></i>
                            </span>
                            <div
                              *ngIf="(bookingForm.controls.HeadCount.touched && !bookingForm.controls.HeadCount.valid) || (submitted && !bookingForm.controls.HeadCount.value)"
                              class="daily-message error">
                              <p>Please choose Number of head!</p>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="f-row">
                        <label class="f-label">Time<span class="f-required">*</span></label>
                        <div class="multi-items view-spec item-time">
                          <div class="mi-w">
                            <select formControlName="ReservationTime" (change)="getAvailability()">
                              <option value="">Select Time</option>
                              <option *ngFor="let time of populateTimeframe" [value]="time.value">{{time.text}}</option>
                            </select>
                            <span class="arrow">
                              <i class="icon-arrow-down"></i>
                            </span>
                          </div><!-- /.mi-w -->
                        </div><!-- /.view-spec -->
                        <div
                          *ngIf="(bookingForm.controls.ReservationTime.touched && !bookingForm.controls.ReservationTime.valid) || (submitted && !bookingForm.controls.ReservationTime.value)"
                          class="daily-message error">
                          <p>Please choose a Booking Time!</p>
                        </div>

                        <div class="dropdown dropdownScroll" id="waitingAvailableTimeSlot"
                          [ngStyle]="{'display' : callBookingAvailableApi ? 'block' : 'none'}">
                          <div class="dropdown-head dropdownTrigger hideDropdown">
                            <img
                              src="//reservations.hungrygowhere.com/bundles/insingreservation/images/loading.gif?v6.5.2"
                              alt="">
                            <span>Getting available time</span>
                          </div>
                        </div>

                        <div id="no-available-time-slot" class="daily-message" *ngIf="callBookingAvailableApi===false">
                          <div id="restaurant-message" class="dm-content">
                            <span *ngIf="callBookingAvailableApi===false && callBookingAvailableApiResp"
                              style="font-size:18px;font-weight:700;">Booking Available</span>
                            <span *ngIf="callBookingAvailableApi===false && !callBookingAvailableApiResp"
                              style="font-size:18px;font-weight:700;">Booking Not Available</span>
                          </div>
                        </div>
                        <div id="no-available-time-slot" class="daily-messageN"
                          *ngIf="OtherVariables.TermsAndConditions.length>0">
                          <div id="restaurant-message" class="dm-content">
                            <p [innerHtml]="OtherVariables.TermsAndConditions"></p>
                          </div>
                        </div>
                      </div>

                    </div>
                  </div>

                  <div class="re-step step-three">
                    <div class="step-top">
                      <h3 class="step-title">Personal details</h3>
                    </div>
                    <div class="step-detail">
                      <div class="f-row">
                        <label class="f-label">Your name<span class="f-required">*</span></label>
                        <div class="multi-items item-name">
                          <div class="mi-w w26">
                            <select formControlName="Title">
                              <option selected value="Mr.">Mr.</option>
                              <option value="Ms.">Ms.</option>
                              <option value="Mrs.">Mrs.</option>
                              <option value="Mdm.">Mdm.</option>
                              <option value="Dr.">Dr.</option>
                              <option value="Prof.">Prof.</option>
                            </select>
                            <span class="arrow">
                              <i class="icon-arrow-down"></i>
                            </span>
                          </div>
                          <div class="mi-w w37">
                            <input type="text" placeholder="First name" class="input-name f-text"
                              formControlName="FirstName" />
                            <div
                              *ngIf="(bookingForm.controls.FirstName.touched && !bookingForm.controls.FirstName.value) || (submitted && !bookingForm.controls.FirstName.value)"
                              class="daily-message error">
                              <p>Please Enter First Name!</p>
                            </div>
                          </div>
                          <div class="mi-w w37">
                            <input type="text" placeholder="Last name" class="input-name f-text"
                              formControlName="LastName" />
                            <div
                              *ngIf="(bookingForm.controls.LastName.touched && !bookingForm.controls.LastName.value) || (submitted && !bookingForm.controls.LastName.value)"
                              class="daily-message error">
                              <p>Please Enter First Name!</p>
                            </div>
                          </div>
                        </div><!-- /.multi-items -->
                      </div><!-- /.f-row -->

                      <div class="f-row">
                        <label class="f-label">Email address<span class="f-required">*</span></label>
                        <input type="text" placeholder="Email address" class="input-full f-text"
                          formControlName="Email">
                        <div
                          *ngIf="(bookingForm.controls.Email.touched && !bookingForm.controls.Email.value) || (submitted && !bookingForm.controls.Email.value)"
                          class="daily-message error">
                          <p>Please Enter First Name!</p>
                        </div>
                        <div
                          *ngIf="(bookingForm.controls.Email.touched && bookingForm.controls.Email.value && !bookingForm.controls.Email.valid)"
                          class="daily-message error">
                          <p>Email is not valid!</p>
                        </div>
                      </div>

                      <div class="f-row">
                        <label class="f-label">Mobile number<span class="f-required">*</span></label>
                        <div class="multi-items item-phone autocomplete-content" id="autocompleteContent">
                          <div class="mi-w w30">
                            <select formControlName="CountryCode">
                              <option selected value="+93">Afghanistan (+93)</option>
                              <option value="+355">Albania (+355)</option>
                              <option value="+213">Algeria (+213)</option>
                              <option value="+1684">American Samoa (+1684)</option>
                              <option value="+376">Andorra (+376)</option>
                              <option value="+244">Angola (+244)</option>
                              <option value="+1264">Anguilla (+1264)</option>
                              <option value="+672">Antarctica (+672)</option>
                              <option value="+1268">Antigua and Barbuda (+1268)</option>
                              <option value="+54">Argentina (+54)</option>
                              <option value="+374">Armenia (+374)</option>
                              <option value="+297">Aruba (+297)</option>
                              <option value="+61">Australia (+61)</option>
                              <option value="+43">Austria (+43)</option>
                              <option value="+994">Azerbaijan (+994)</option>
                              <option value="+1242">Bahamas (+1242)</option>
                              <option value="+973">Bahrain (+973)</option>
                              <option value="+880">Bangladesh (+880)</option>
                              <option value="+1246">Barbados (+1246)</option>
                              <option value="+375">Belarus (+375)</option>
                              <option value="+32">Belgium (+32)</option>
                              <option value="+501">Belize (+501)</option>
                              <option value="+229">Benin (+229)</option>
                              <option value="+1441">Bermuda (+1441)</option>
                              <option value="+975">Bhutan (+975)</option>
                              <option value="+591">Bolivia (+591)</option>
                              <option value="+387">Bosnia and Herzegovina (+387)</option>
                              <option value="+267">Botswana (+267)</option>
                              <option value="+55">Brazil (+55)</option>
                              <option value="+673">Brunei Darussalam (+673)</option>
                              <option value="+359">Bulgaria (+359)</option>
                              <option value="+226">Burkina Faso (+226)</option>
                              <option value="+257">Burundi (+257)</option>
                              <option value="+855">Cambodia (+855)</option>
                              <option value="+237">Cameroon (+237)</option>
                              <option value="+1">Canada (+1)</option>
                              <option value="+238">Cape Verde (+238)</option>
                              <option value="+1345">Cayman Islands (+1345)</option>
                              <option value="+236">Central African Republic (+236)</option>
                              <option value="+235">Chad (+235)</option>
                              <option value="+56">Chile (+56)</option>
                              <option value="+86">China (+86)</option>
                              <option value="+61">Christmas Island (+61)</option>
                              <option value="+61">Cocos (Keeling) Islands (+61)</option>
                              <option value="+57">Colombia (+57)</option>
                              <option value="+269">Comoros (+269)</option>
                              <option value="+242">Congo (+242)</option>
                              <option value="+243">Congo, The Democratic Republic of the (+243)</option>
                              <option value="+682">Cook Islands (+682)</option>
                              <option value="+506">Costa Rica (+506)</option>
                              <option value="+225">Cote d'Ivoire (+225)</option>
                              <option value="+385">Croatia (+385)</option>
                              <option value="+53">Cuba (+53)</option>
                              <option value="+357">Cyprus (+357)</option>
                              <option value="+420">Czech Republic (+420)</option>
                              <option value="+45">Denmark (+45)</option>
                              <option value="+253">Djibouti (+253)</option>
                              <option value="+1767">Dominica (+1767)</option>
                              <option value="+1809">Dominican Republic (+1809)</option>
                              <option value="+593">Ecuador (+593)</option>
                              <option value="+20">Egypt (+20)</option>
                              <option value="+503">El Salvador (+503)</option>
                              <option value="+240">Equatorial Guinea (+240)</option>
                              <option value="+291">Eritrea (+291)</option>
                              <option value="+372">Estonia (+372)</option>
                              <option value="+251">Ethiopia (+251)</option>
                              <option value="+500">Falkland Islands (Malvinas) (+500)</option>
                              <option value="+298">Faroe Islands (+298)</option>
                              <option value="+679">Fiji (+679)</option>
                              <option value="+358">Finland (+358)</option>
                              <option value="+33">France (+33)</option>
                              <option value="+689">French Polynesia (+689)</option>
                              <option value="+241">Gabon (+241)</option>
                              <option value="+220">Gambia (+220)</option>
                              <option value="+995">Georgia (+995)</option>
                              <option value="+49">Germany (+49)</option>
                              <option value="+233">Ghana (+233)</option>
                              <option value="+350">Gibraltar (+350)</option>
                              <option value="+30">Greece (+30)</option>
                              <option value="+299">Greenland (+299)</option>
                              <option value="+1473">Grenada (+1473)</option>
                              <option value="+1671">Guam (+1671)</option>
                              <option value="+502">Guatemala (+502)</option>
                              <option value="+224">Guinea (+224)</option>
                              <option value="+245">Guinea-Bissau (+245)</option>
                              <option value="+592">Guyana (+592)</option>
                              <option value="+509">Haiti (+509)</option>
                              <option value="+39">Holy See (Vatican City State) (+39)</option>
                              <option value="+504">Honduras (+504)</option>
                              <option value="+852">Hong Kong (+852)</option>
                              <option value="+36">Hungary (+36)</option>
                              <option value="+354">Iceland (+354)</option>
                              <option value="+91">India (+91)</option>
                              <option value="+62">Indonesia (+62)</option>
                              <option value="+98">Iran, Islamic Republic of (+98)</option>
                              <option value="+964">Iraq (+964)</option>
                              <option value="+353">Ireland (+353)</option>
                              <option value="+44">Isle of Man (+44)</option>
                              <option value="+972">Israel (+972)</option>
                              <option value="+39">Italy (+39)</option>
                              <option value="+1876">Jamaica (+1876)</option>
                              <option value="+81">Japan (+81)</option>
                              <option value="+962">Jordan (+962)</option>
                              <option value="+7">Kazakhstan (+7)</option>
                              <option value="+254">Kenya (+254)</option>
                              <option value="+686">Kiribati (+686)</option>
                              <option value="+850">Korea, Democratic People's Republic of (+850)</option>
                              <option value="+82">Korea, Republic of (+82)</option>
                              <option value="+965">Kuwait (+965)</option>
                              <option value="+996">Kyrgyzstan (+996)</option>
                              <option value="+856">Lao People's Democratic Republic (+856)</option>
                              <option value="+371">Latvia (+371)</option>
                              <option value="+961">Lebanon (+961)</option>
                              <option value="+266">Lesotho (+266)</option>
                              <option value="+231">Liberia (+231)</option>
                              <option value="+218">Libyan Arab Jamahiriya (+218)</option>
                              <option value="+423">Liechtenstein (+423)</option>
                              <option value="+370">Lithuania (+370)</option>
                              <option value="+352">Luxembourg (+352)</option>
                              <option value="+853">Macao (+853)</option>
                              <option value="+389">Macedonia (+389)</option>
                              <option value="+261">Madagascar (+261)</option>
                              <option value="+265">Malawi (+265)</option>
                              <option value="+60">Malaysia (+60)</option>
                              <option value="+960">Maldives (+960)</option>
                              <option value="+223">Mali (+223)</option>
                              <option value="+356">Malta (+356)</option>
                              <option value="+692">Marshall Islands (+692)</option>
                              <option value="+222">Mauritania (+222)</option>
                              <option value="+230">Mauritius (+230)</option>
                              <option value="+262">Mayotte (+262)</option>
                              <option value="+52">Mexico (+52)</option>
                              <option value="+691">Micronesia, Federated States of (+691)</option>
                              <option value="+373">Moldova, Republic of (+373)</option>
                              <option value="+377">Monaco (+377)</option>
                              <option value="+976">Mongolia (+976)</option>
                              <option value="+382">Montenegro (+382)</option>
                              <option value="+1664">Montserrat (+1664)</option>
                              <option value="+212">Morocco (+212)</option>
                              <option value="+258">Mozambique (+258)</option>
                              <option value="+95">Myanmar (+95)</option>
                              <option value="+264">Namibia (+264)</option>
                              <option value="+674">Nauru (+674)</option>
                              <option value="+977">Nepal (+977)</option>
                              <option value="+31">Netherlands (+31)</option>
                              <option value="+599">Netherlands Antilles (+599)</option>
                              <option value="+687">New Caledonia (+687)</option>
                              <option value="+64">New Zealand (+64)</option>
                              <option value="+505">Nicaragua (+505)</option>
                              <option value="+227">Niger (+227)</option>
                              <option value="+234">Nigeria (+234)</option>
                              <option value="+683">Niue (+683)</option>
                              <option value="+672">Norfolk Island (+672)</option>
                              <option value="+1670">Northern Mariana Islands (+1670)</option>
                              <option value="+47">Norway (+47)</option>
                              <option value="+968">Oman (+968)</option>
                              <option value="+92">Pakistan (+92)</option>
                              <option value="+680">Palau (+680)</option>
                              <option value="+507">Panama (+507)</option>
                              <option value="+675">Papua New Guinea (+675)</option>
                              <option value="+595">Paraguay (+595)</option>
                              <option value="+51">Peru (+51)</option>
                              <option value="+63">Philippines (+63)</option>
                              <option value="+870">Pitcairn (+870)</option>
                              <option value="+48">Poland (+48)</option>
                              <option value="+351">Portugal (+351)</option>
                              <option value="+1">Puerto Rico (+1)</option>
                              <option value="+974">Qatar (+974)</option>
                              <option value="+40">Romania (+40)</option>
                              <option value="+7">Russian Federation (+7)</option>
                              <option value="+250">Rwanda (+250)</option>
                              <option value="+590">Saint Bartelemey (+590)</option>
                              <option value="+290">Saint Helena (+290)</option>
                              <option value="+1869">Saint Kitts and Nevis (+1869)</option>
                              <option value="+1758">Saint Lucia (+1758)</option>
                              <option value="+1599">Saint Martin (+1599)</option>
                              <option value="+508">Saint Pierre and Miquelon (+508)</option>
                              <option value="+1784">Saint Vincent and the Grenadines (+1784)</option>
                              <option value="+685">Samoa (+685)</option>
                              <option value="+378">San Marino (+378)</option>
                              <option value="+239">Sao Tome and Principe (+239)</option>
                              <option value="+966">Saudi Arabia (+966)</option>
                              <option value="+221">Senegal (+221)</option>
                              <option value="+381">Serbia (+381)</option>
                              <option value="+248">Seychelles (+248)</option>
                              <option value="+232">Sierra Leone (+232)</option>
                              <option value="+65" selected="selected">Singapore (+65)</option>
                              <option value="+421">Slovakia (+421)</option>
                              <option value="+386">Slovenia (+386)</option>
                              <option value="+677">Solomon Islands (+677)</option>
                              <option value="+252">Somalia (+252)</option>
                              <option value="+27">South Africa (+27)</option>
                              <option value="+34">Spain (+34)</option>
                              <option value="+94">Sri Lanka (+94)</option>
                              <option value="+249">Sudan (+249)</option>
                              <option value="+597">Suriname (+597)</option>
                              <option value="+268">Swaziland (+268)</option>
                              <option value="+46">Sweden (+46)</option>
                              <option value="+41">Switzerland (+41)</option>
                              <option value="+963">Syrian Arab Republic (+963)</option>
                              <option value="+886">Taiwan (+886)</option>
                              <option value="+992">Tajikistan (+992)</option>
                              <option value="+255">Tanzania, United Republic of (+255)</option>
                              <option value="+66">Thailand (+66)</option>
                              <option value="+670">Timor-Leste (+670)</option>
                              <option value="+228">Togo (+228)</option>
                              <option value="+690">Tokelau (+690)</option>
                              <option value="+676">Tonga (+676)</option>
                              <option value="+1868">Trinidad and Tobago (+1868)</option>
                              <option value="+216">Tunisia (+216)</option>
                              <option value="+90">Turkey (+90)</option>
                              <option value="+993">Turkmenistan (+993)</option>
                              <option value="+1649">Turks and Caicos Islands (+1649)</option>
                              <option value="+688">Tuvalu (+688)</option>
                              <option value="+256">Uganda (+256)</option>
                              <option value="+380">Ukraine (+380)</option>
                              <option value="+971">United Arab Emirates (+971)</option>
                              <option value="+44">United Kingdom (+44)</option>
                              <option value="+1">United States (+1)</option>
                              <option value="+598">Uruguay (+598)</option>
                              <option value="+998">Uzbekistan (+998)</option>
                              <option value="+678">Vanuatu (+678)</option>
                              <option value="+58">Venezuela (+58)</option>
                              <option value="+84">Vietnam (+84)</option>
                              <option value="+1284">Virgin Islands, British (+1284)</option>
                              <option value="+1340">Virgin Islands, U.S. (+1340)</option>
                              <option value="+681">Wallis and Futuna (+681)</option>
                              <option value="+967">Yemen (+967)</option>
                              <option value="+260">Zambia (+260)</option>
                              <option value="+263">Zimbabwe (+263)</option>
                            </select>
                            <span class="arrow">
                              <i class="icon-arrow-down"></i>
                            </span>
                          </div><!-- /.mi-w w30 -->
                          <div class="mi-w w70">
                            <input type="text" placeholder="Mobile number" class="input-number f-text"
                              formControlName="PhoneNumber" minlength="6" maxlength="10">
                            <div *ngIf="(bookingForm.controls.PhoneNumber.touched && !bookingForm.controls.PhoneNumber.value)  
                              || (submitted && !bookingForm.controls.PhoneNumber.value)" class="daily-message error">
                              <p>Please Enter Mobile Number!</p>
                            </div>
                            <div *ngIf="(bookingForm.controls.PhoneNumber.touched && bookingForm.controls.PhoneNumber.value)  
                              && (bookingForm.controls.PhoneNumber.errors)" class="daily-message error">
                              <p>Please Enter a valid Mobile Number!</p>
                            </div>
                          </div><!-- /.mi-w w70 -->
                        </div><!-- /.multi-items -->

                      </div><!-- /.f-row -->

                      <div class="f-row">
                        <label for="input-notes" class="f-label">Special notes for the restaurant
                          <em>(Optional)</em></label>
                        <textarea class="input-notes f-textarea"
                          placeholder="Special requests are not guaranteed and are subject to availability and restaurant discretion."
                          formControlName="SpecialNotes"></textarea>
                        <span class="f-char"><span class="input-notes-limit">0</span>/200 Characters</span>
                      </div>

                      <!-- <div class="f-row">
                                                      <ul class="list-checkbox">
                                                          <li>
                                                          <span class="f-checkbox">
                                                              <input formControlName="remember" type="checkbox" id="remember-me" checked="checked">
                                                              <label for="remember-me">Remember Me</label>
                                                          </span>
                                                          </li>
                                                          <li>
                                                          <span class="f-checkbox">
                                                              <input  type="checkbox" formControlName="newsletter" id="newsletter-updates" checked="checked">
                                                              <label for="newsletter-updates">Sign me up for newsletter and updates from this
                                                              restaurant.</label>
                                                          </span>
                                                          </li>
                                                          <li style="display:none;">
                                                          <span class="f-checkbox">
                                                              <input type="checkbox"formControlName="news_updates" id="news-updates" checked="checked">
                                                              <label for="news-updates">Never miss out! Sign up for our weekly newsletter on great dining
                                                              deals.</label>
                                                          </span>
                                                          </li>
                                                          <li>
                                                          </li>
                                                      </ul>
                                                      </div> -->
                    </div>
                  </div>
                </div>
              </div>
              <span class="ver-line"></span>
            </div>

            <div class="btn-action res-bottom">
              <div class="f-btn">
                <button type="submit" class="btn main-btn">
                  <i *ngIf="OtherVariables.btnloadder"
                    class="fa fa-spinner fa-spin"></i>{{OtherVariables.btnloadder? '': 'Continue to Confirmation'}}
                </button>
              </div>
              <p class="agreeing res-termuse">By clicking this button, you are agreeing to all <a
                  href="javascript:void(0)" target="_blank" title="terms of use">terms of use</a>.
              </p>
            </div>
            <p class="gaUnchecked"> </p>
          </div>
        </form>
      </div>
      <div class="container" *ngIf="!OtherVariables.isOutletOpen">
        <div class="reservation-content">
          <div class="main-info">
            <h3 class="re-title" style="font-size: 20px;color: #e82d2d;">
              Closed For Booking
            </h3>
            <span class="mi-note">Sorry. this outlet not accepting booking at this time.</span>
          </div>
        </div>
      </div>

    </section>
    <div class="hide">
      <div id="popup_alert_reservation" class="popup-content">
        <div class="form-alert-reservation">
          <br>
          <div class="alert alert-danger">
            <label class="alert-label">Sorry, the deal you had selected is not valid for your selected date / time /
              pax.</label>
          </div>
        </div>
      </div>
      <!-- /.lightbox-content -->
    </div>


    <div id="footer" class="footer">
      <p>© 2019, DTS. All Rights Reserved.</p>
      <ul class="fLink list-links">
        <li><a href="javascript:void(0)" title="Terms of Use" rel="nofollow">Terms of
            Use</a></li>
        <li class="last"><a href="javascript:void(0)" title="Privacy Policy" rel="nofollow">Privacy Policy</a></li>
      </ul>
    </div>
    <!-- / #footer -->
  </div>
</ng-container>

<ng-container *ngIf="OtherVariables.loading">
  <div style="text-align: center;font-size: 30px;margin-top: 30px;">
    <i class="fa fa-spinner fa-spin" aria-hidden="true"></i>
  </div>
</ng-container>
