.mi-w {
    position: relative;
    select {
        width: 100%;
        padding: 12px;
        border: 1px solid #cccccc;
        background: none;
    }
    .arrow {
        float: right;
        position: absolute;
        right: 13px;
        top: 21px;
    }
}
.error {
    background-color: #f58383 !important;
    &.daily-message:before{
        border-bottom: 6px solid #f58383 !important;
    }
}

.daily-messageN{
    background-color: #ffcd32;
    position: relative;
    padding: 12px 15px;
    margin-top: 10px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

@media (min-width: 1025px) and (max-width: 1280px) {
    .arrow { display: none; }
}
@media (min-width: 1281px) {
    .arrow { display: none; }
}