.left-pane{
    .reservation-form{
        .step-top{
            p{
                margin-bottom:10px;
            }
        }
        .daily-message{
            margin-bottom:10px;
            background:#e3f7e9;
        }
        .daily-message::before{
            border:none !important;
        }
    }
}

.error{
    background:#d12026 !important;
    p{
        color: #fff;
        i{
            color: #fff;
        }
    }

}

.right-pane{
    .re-maininfo{
        p{
            margin-bottom:7px;
        }
    }
}

.res-bottom{
    .f-btn{
        button{
            margin:0 5px 10px;
        }
    }
}