<ng-container *ngIf="!OtherVariables.loading">
  <div id="layout" class="wrap-content">
    <header class="header">
      <div class="container">
        <a [routerLink]="['']" title="Logo">
          <img src="https://lmsvpreservationadmin.myteamconnector.com/assets/images/logo.png" alt="" />
        </a>
      </div>
    </header>
    <section id="content" class="main-content">
      <div class="container">
        <div class="reservation-content">
          <div class="reservation-detail">
            <div class="">
              <div class="re-step step-special">
                <div class="restaurantDetail">
                  <div class="reservation-overview">
                    <div class="re-maininfo" style="padding: 0px 20px;">
                      <h1>Details</h1>
                      <h3>Your Reservation Details</h3>
                      <p>{{OtherVariables?.bookingDetails?.ReservationDate}}</p>
                      <p>{{OtherVariables?.bookingDetails?.ReservationTime}}</p>
                      <p>{{OtherVariables?.bookingDetails?.Title}} {{OtherVariables?.bookingDetails?.FirstName}}
                        {{OtherVariables?.bookingDetails?.LastName}}</p>
                      <p>{{OtherVariables?.bookingDetails?.HeadCount}} Heads</p>
                      <h3>Restaurant Details</h3>
                      <p>{{OtherVariables?.bookingDetails?.OutletName}}</p>
                      <p>{{OtherVariables?.bookingDetails?.Address}}</p>
                      <p>Map</p>
                      <p>{{OtherVariables?.bookingDetails?.OutletPhoneNumber}}</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <span class="ver-line"></span>
          </div>
          <div class="btn-action res-bottom">
            <h3>Are you sure to cancel this reservation?</h3>
            <div class="f-btn">
              <button type="submit" class="btn main-btn" (click)="gotoedit()">
                No
              </button>
              <button type="submit" class="btn main-btn" (click)="cancelBooking()">
                Yes
              </button>
            </div>
            <p class="agreeing res-termuse">By clicking this button, you are agreeing to all <a
                href="javascript:void(0)" target="_blank" title="terms of use">terms of use</a>.
            </p>
          </div>
          <p class="gaUnchecked"> </p>
        </div>
      </div>
    </section>
    <div id="footer" class="footer">
      <p>© 2019, DTS. All Rights Reserved.</p>
      <ul class="fLink list-links">
        <li><a href="javascript:void(0)" title="Terms of Use" rel="nofollow">Terms of
            Use</a></li>
        <li class="last"><a href="javascript:void(0)" title="Privacy Policy" rel="nofollow">Privacy Policy</a></li>
      </ul>
    </div>
  </div>
</ng-container>
<ng-container *ngIf="OtherVariables.loading">
  <div style="text-align: center;font-size: 30px;margin-top: 30px;">
    <i class="fa fa-spinner fa-spin" aria-hidden="true"></i>
  </div>
</ng-container>
