ul.outlet-ul{
    list-style: none;
    padding-inline-start: 0px;
    li {
        padding: 12px;
        background: #ffcd32;
        margin-bottom: 3px;
        a {
            color: #000;
            font-size: 1rem;
        }
    }
}

@media screen and (max-width: 767px) {
    .main-content {
        .container {
            padding: 0;
        }
    }
}
