<ng-container *ngIf="!OtherVariables.loading">
  <div id="layout" class="wrap-content">
    <header class="header">
      <div class="container">
        <a href="javascript:void(0)" title="Logo">
          <img src="https://lmsvpreservationadmin.myteamconnector.com/assets/images/logo.png" alt="" />
        </a>
      </div>
    </header>

    <section class="main-content">
      <div class="container">
        <ul class="outlet-ul">
          <li *ngFor="let list of outletLists">
            <a [routerLink]="['/booking']" [queryParams]="{qr:list?.OutletID}"
              style="display: block;">{{list?.OutletName}}</a>
          </li>
        </ul>
      </div>
    </section>
    <div id="footer" class="footer">
      <p>© 2019, DTS. All Rights Reserved.</p>
      <ul class="fLink list-links">
        <li><a href="javascript:void(0)" title="Terms of Use" rel="nofollow">Terms of
            Use</a></li>
        <li class="last"><a href="javascript:void(0)" title="Privacy Policy" rel="nofollow">Privacy Policy</a></li>
      </ul>
    </div>
  </div>
</ng-container>
<ng-container *ngIf="OtherVariables.loading">
  <div style="text-align: center;font-size: 30px;margin-top: 30px;">
    <i class="fa fa-spinner fa-spin" aria-hidden="true"></i>
  </div>
</ng-container>
