<div id="layout" class="wrap-content">

  <!-- <header class="header">
      <div class="container">
          <a [routerLink]="['']" title="Logo">
              <img src="https://lmsvpreservationadmin.myteamconnector.com/assets/images/logo.png" alt=""/>
          </a>
      </div>
  </header> -->

  <section id="content" class="main-content">
    <div class="container">
        <div class="reservation-content">
            <div class="main-info">
                <h1 class="re-title">
                    Resturant Details
                </h1>
                <span class="mi-note">{{outletDetails?.OutletName}}</span>
            </div>
            <div class="content-pane reservation-detail">
                <div class="right-pane">
                <div class="re-step step-special collapse-wrap">
                    <div class="restaurant-detail restaurantDetail" >
                        <div class="reservation-overview">
                            <!-- <figure class="img-view">
                            <img src="https://tabledb.s3.amazonaws.com/hgwlandingpage/rest/thumb_5952ff86e4b0a4a1d6216dd1.jpg"
                                alt="Stickies Bar (Sunset Lane)">
                            </figure> -->

                            <div class="re-maininfo">
                                <dl>
                                    <dt>Name</dt>
                                    <dd>
                                        {{outletDetails?.OutletName}}
                                    </dd>
                                </dl>
                                <dl>
                                    <dt>Phone Number</dt>
                                    <dd>
                                        {{outletDetails?.PhoneNumber}}
                                    </dd>
                                </dl>
                                <dl>
                                    <dt>Address</dt>
                                    <dd>
                                    {{outletDetails?.Address}}, {{outletDetails?.City}}, {{outletDetails?.State}},
                                    {{outletDetails?.Country}}
                                    </dd>
                                </dl>
                            </div>
                            <div class="re-detailinfo">
                              <div class="re-description">
                                  <div class="fullDescription">
                                      <!-- Description Here -->
                                  </div>
                              </div>
                            </div>
                        </div><!--  .overview-->
                    </div>
                </div>
                </div>
                <span class="ver-line"></span>
            </div>
            <p class="gaUnchecked"> </p>
        </div>
    </div>

  </section>
</div>