@import "~ng-pick-datetime/assets/style/picker.min.css";
/* You can add global styles to this file, and also import other style files */
header {
    background-color: #000 !important;
}
.main-content {
    margin-top: 0 !important;
}
owl-date-time-container {
    padding: 10px;
    .owl-dt-container-buttons {
        display: flex;
        justify-content: space-between;
        button{
            width: 40%;
        }
        button:first-child {
            border: 1px solid #d11f25;
            background-color: #d11f25;
            color:#fff;
        }
        button:nth-child(2) {
            border: 1px solid #ffcd32;
            background-color: #ffcd32;
            color:#000;
        }
    }
}
